:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.social-link, .backdrop, .modal-close-btn, .check-text span, .modal-btn, .header-list-contacts, .peculiarities-item-icon, .about-us-list__item-name, .clients-item-icon, .social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  border-radius: 4px;
}

.conteiner {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 767px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: 0;
}

.footer-subscription {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer-subscription {
    margin-left: 100px;
    text-align: left;
  }
}

.strong {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-bottom: 20px;
}

.subscription {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 479px) {
  .subscription {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1199px) {
  .subscription {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.subscription-input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-white-color);
  outline: none;
}

@media screen and (min-width: 1200px) {
  .subscription-input {
    width: 358px;
    margin-right: 12px;
  }
}

.subscription-input:focus, .subscription-input:hover {
  border: 1px solid var(--accent-color);
  color: var(--primary-title-color);
}

.subscription-btn {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px 27px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
  color: var(--primary-title-color);
  background-color: #2196f3;
}

.subscription-btn:hover, .subscription-btn:focus {
  fill: var(--accent-color);
  border: var(--accent-color);
}

.subscription-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.modal {
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  padding: 40px;
}

.modal-title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form-label {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 42px;
  padding-right: 20px;
  outline: none;
}

.form-input:focus {
  border: 1px solid var(--accent-color);
}

.form-input:focus:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-text-input {
  width: 100%;
  height: 120px;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  padding: 12px 16px;
  outline: none;
}

.modal-text-input:focus {
  border: 1px solid var(--accent-color);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper {
  display: block;
  position: relative;
}

.modal-close-btn {
  width: 18px;
  height: 18px;
}

.check-text {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 12px;
  font-weight: 400;
  line-height: 3.66667;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
  margin-top: 20px;
}

.check-text span {
  width: 16px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid var(--secondary-text-color);
  margin-right: 9px;
}

@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71429;
    letter-spacing: 0.03em;
  }
}

.chek-link {
  color: var(--accent-color);
}

.modal-checkbox {
  display: block;
  margin-top: 20px;
}

.modal-checkbox:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.input-btn {
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  border: none;
  background-color: #2196f3;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-btn:hover, .input-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-btn:hover, .modal-btn:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.15385;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .header-logo {
    padding: 16px 0;
  }
}

@media screen and (min-width: 767px) {
  .header-logo {
    margin-right: 88px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    padding: 26px 0;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    margin: 25px 93px 25px 0;
    padding: 0;
  }
}

.header-logo-studio {
  color: #000000;
}

.header-conteiner {
  display: flex;
}

.header-conteiner__navigation {
  display: flex;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-list .header-list__link.current {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}

.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  display: block;
  bottom: 0px;
}

@media screen and (min-width: 767px) {
  .header-list-contacts {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header-list-contacts {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .header-list-contacts {
    display: none;
  }
}

.header-list__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link:hover, .header-list__link:focus {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-list-contacts__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-right: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-contacts__link:hover, .header-list-contacts__link:focus {
  color: var(--accent-color);
}

.header-list-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-list-contacts__item {
  align-items: baseline;
  align-items: baseline;
}

@media screen and (min-width: 767px) {
  .header-list-contacts__item {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-list-contacts__item {
    display: flex;
    flex-direction: row;
  }
}

.mob-menu {
  text-align: start;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  position: absolute;
  padding: 48px 40px;
  background-color: #ffffff;
  transform: translatex(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu.mob-menu__open {
  transform: translatex(0);
}

.mob-menu__open {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.mob-menu__bottom-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.mob-menu__tel {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-bottom: 32px;
}

.mob-menu__mail {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.mob-bottom-social {
  display: flex;
  justify-content: flex-start;
}

.mob-bottom-social__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mob-bottom-social__item:not(:last-child) {
  text-align: start;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-bottom-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-menu__list {
  display: block;
  margin-bottom: 302px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mob-menu__link:focus, .mob-menu__link:hover {
  color: var(--accent-color);
}

.menu-open-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-close-btn:focus, .menu-close-btn:hover {
  fill: var(--accent-color);
}

.modal-open-icon {
  width: 40px;
  height: 40px;
}

.hero-conteiner {
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/herobg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 118px 0;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-conteiner {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/herobg-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-conteiner {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/herobg-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-conteiner {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/herobg-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-conteiner {
    max-width: 1600px;
    width: 100%;
    padding: 200px 0;
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/herobg.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-conteiner {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/herobg-2x.jpg);
  }
}

.hero-conteiner__title {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61538;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

@media screen and (min-width: 1200px) {
  .hero-conteiner__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36364;
    letter-spacing: 0.06em;
    margin-bottom: 50px;
    max-width: 696px;
  }
}

.hero-button {
  padding: 10px 32px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  background-color: #2196f3;
  outline: none;
}

.peculiarities {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .peculiarities {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

.peculiarities-list {
  margin-left: -30px;
}

@media screen and (min-width: 768px) {
  .peculiarities-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -50px;
  }
}

.peculiarities-item {
  margin-left: 30px;
  margin-bottom: 30px;
  color: var(--secondary-title-color);
}

@media screen and (min-width: 768px) {
  .peculiarities-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 50px;
  }
}

.peculiarities-icon {
  width: 65px;
  height: 70px;
}

.peculiarities-item-icon {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.peculiarities-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .peculiarities-title {
    text-align: start;
  }
}

.peculiarities-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.about-us {
  padding-top: 47px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .about-us {
    display: none;
  }
}

.about-us-list {
  display: flex;
  flex-basis: calc(100% / 3 - 90px);
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
}

.about-us-list__item {
  margin-left: 30px;
  margin-top: 50px;
}

.about-us__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.about-us__list-name {
  position: relative;
}

.about-us-list__item-name {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-title-color);
  bottom: 0;
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -50px;
  }
}

.team__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.team-list__item {
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .team-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 50px;
  }
}

.team-list__personal-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}

.team-list__personal-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-list__position {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.125;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

.clients-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    margin-left: -30px;
  }
}

.clients-item {
  margin-left: 30px;
  margin-top: 30px;
  height: 92px;
  flex-basis: calc(100% / 2 - 30px);
}

@media screen and (min-width: 767px) {
  .clients-item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    flex-basis: calc(100% / 6 - 30px);
    margin-top: 50px;
  }
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item-icon:hover .clients-icon,
.clients-item-icon:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-item-icon {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item-icon:hover, .clients-item-icon:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.footer-link-address {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--primary-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-address:hover, .footer-link-address:focus {
  color: var(--accent-color);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-adress {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-adress {
    text-align: start;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 767px) {
  .footer-wraper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer-list {
  margin-top: 20px;
}

.footer-item {
  margin-top: 9px;
}

.social-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  text-align: start;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .social-title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
  }
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link:hover .social-list__icon,
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.footer-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer-box {
    flex-direction: row;
    align-items: baseline;
  }
}

.footer-social {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
  }
}

.footer-tel-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel-link:hover, .footer-tel-link:focus {
  color: var(--accent-color);
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
}

.foter-studio {
  color: #ffffff;
}

.gallery-filters-btn {
  display: block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  background: #f5f4fa;
  padding: 6px 22px;
  color: var(--secondary-title-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-filters-btn:focus, .gallery-filters-btn:hover {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--primary-title-color);
}

.gallery-button-list {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (min-width: 767px) {
  .gallery-button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.gallary-conteiner {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1199px) {
  .gallary-conteiner {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.gallary-work-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  text-align: left;
}

.gallary-work-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: left;
  margin-top: 4px;
}

.gallery-item {
  margin-left: 10px;
  margin-bottom: 15px;
}

.gallary-card-bottom {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

@media screen and (min-width: 767px) {
  .gallary-work {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1199px) {
  .gallary-work {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.gallary-work-list {
  width: 100%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 767px) {
  .gallary-work-list {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1199px) {
  .gallary-work-list {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.gallary-work-list:focus, .gallary-work-list:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gallary-top-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  padding: 77px 24px;
  color: var(--primary-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallary-work-list:hover .gallary-top-text {
  transform: translateY(0);
}

@media screen and (min-width: 767px) {
  .gallary-top-text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1199px) {
  .gallary-top-text {
    padding: 63px 24px;
  }
}

.gallary-work-wrapper {
  position: relative;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */